<!-- Alert -->

<!--
<div class="acms-alert fade in">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>
-->


<!-- Dropdown -->

<!--
<div class="dropdown acms-dropdown">
    <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
        Dropdown <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</div>
-->


<!-- Accordion -->

<!--
<div class="acms-accordion">
    <a class="accordion-toggle" data-toggle="collapse" data-parent=".acms-accordion" href="#collapseOne">
        Collapsible Group Item #1
    </a>
    <div id="collapseOne" class="collapse in">
        <div>
            1 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
    <a class="accordion-toggle" data-toggle="collapse" data-parent=".acms-accordion" href="#collapseTwo">
        Collapsible Group Item #2
    </a>
    <div id="collapseTwo" class="collapse">
        <div>
            2 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
    <a class="accordion-toggle" data-toggle="collapse" data-parent=".acms-accordion" href="#collapseThree">
        Collapsible Group Item #3
    </a>
    <div id="collapseThree" class="collapse">
        <div>
            3 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
    </div>
</div>
-->


<!-- Tabs - Prefered -->

<!--
<div class="tabbable">
    <ul class="acms-tabs">
      <li class="active"><a href="#home">Home</a></li>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#messages">Messages</a></li>
      <li><a href="#settings">Settings</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="home">Tab 1 Content</div>
      <div class="tab-pane" id="profile">Tab 2 Content</div>
      <div class="tab-pane" id="messages">Tab 3 Content</div>
      <div class="tab-pane" id="settings">Tab 4 Content</div>
    </div>
</div>
-->

<!-- Tabs - Alternate - data-toggle="tab"  -->

<!--
<div class="tabbable">
    <ul class="acms-tabs">
        <li><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#profile" data-toggle="tab">Profile</a></li>
        <li class="active"><a href="#messages" data-toggle="tab">Messages</a></li>
        <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="home">Tab 1 Content</div>
      <div class="tab-pane" id="profile">Tab 2 Content</div>
      <div class="tab-pane active" id="messages">Tab 3 Content</div>
      <div class="tab-pane" id="settings">Tab 4 Content</div>
    </div>
</div>
 -->
